body {
    font-family: Arial, sans-serif;
    background-color: #1e2534;  /* Cor de fundo escura */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;  /* Necessário para posicionamento absoluto */
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;  /* Lado superior Esquerdo */
}

.logo {
    width: 200px;  /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #ffffff;  /* Cor de fundo do box de login */
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;  /* Cor do texto do título */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;  /* Cor do texto dos labels */
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #00b6aa;  /* Cor do botão de login */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #009e94;  /* Cor do botão ao passar o mouse */
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #00b6aa;  /* Cor do texto "Esqueceu sua senha?" */
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}
